<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="edu.hi.mapper.OrderMapper">

	<!-- 주문 상품 정보 -->
	<select id="getGoodsInfo" resultType="edu.hi.model.OrderPageItemDTO">
	
		select giftId, giftName, giftPrice, giftDiscount
		from gift_product where giftId = #{giftId}	
	
	</select>
	
	<select id="getOrderInfo" resultType="edu.hi.model.OrderItemDTO">
	
		select giftId, giftPrice, giftDiscount
		from gift_product where giftId = #{giftId}
	
	</select>
    
	<!-- 주문 테이블 등록 -->
	<insert id="enrollOrder">
	
		insert into gift_order(orderId, addressee, memberId, memberAddr1, memberAddr2, memberAddr3, orderState, deliveryCost, usePoint)
    	values(#{orderId},#{addressee}, #{memberId}, #{memberAddr1}, #{memberAddr2}, #{memberAddr3}, '배송준비', #{deliveryCost}, #{usePoint})
	
	</insert>
	
	<!-- 주문 아이템 테이블 등록 -->
	<insert id="enrollOrderItem">
	
		insert into vam_orderItem(orderItemId,orderId, giftId, giftCount, giftPrice, giftDiscount, savePoint)
		values(NO_ORDERITEM.NEXTVAL,#{orderId}, #{giftId}, #{giftCount}, #{giftPrice}, #{giftDiscount}, #{savePoint})
	
	</insert>	
	
	<!-- 주문 금액 차감 -->
	<update id="deductMoney">
	
		update gift_member set money = #{money}, point = #{point} where memberid = #{memberId}
		
	</update>	
	
	<!-- 주문 재고 차감 -->
	<update id="deductStock">
	
		update gift_product set giftStock = #{giftStock} where giftId = #{giftId}
	
	</update>	
    
      
	<!-- 주문취소 -->
	<update id="orderCancle">
		update gift_order set orderState = '주문취소' where orderId = #{orderId}
	</update>	

	<!-- 주문 상품 정보(주문취소) -->
	<select id="getOrderItemInfo" resultType="edu.hi.model.OrderItemDTO">
	
		select * from vam_orderItem
		where orderId = #{orderId}
	
	</select>
	
	<!-- 주문 정보(주문 취소) -->
	<select id="getOrder" resultType="edu.hi.model.OrderDTO">
	
		select * from gift_order
		where orderId = #{orderId}
	
	</select>	
	
  </mapper>